.env
/.github/
/.zed/

# Uploaded files (photos, PDFs)
attendance-app-webapi/uploads/*
!attendance-app-webapi/uploads/.gitkeep
!attendance-app-webapi/uploads/attendance/.gitkeep
!attendance-app-webapi/uploads/leave/.gitkeep

attendance-app-webapi/storage/uploads/attendance/*
!attendance-app-webapi/storage/uploads/attendance/.gitkeep

attendance-app-webapi/storage/uploads/leave/*
!attendance-app-webapi/storage/uploads/leave/.gitkeep
